
.aside-left{
    position: fixed;
    top: -4%;
}
.aside-right{
    position: fixed;
    top: -4%;
    left: 86%;
}



.aside-left-content{
    width: 13rem;
    height: 30vh;
    position: absolute;
    top: 213px;
    display: flex;
    color: white;
    /* background-color: rgb(98, 98, 98); */

}
.aside-right-content{
    width: 13rem;
    height: 70vh;
    position: absolute;
    top: 180px;
    left: 86%;
    display: flex;
    color: white;
    /* background-color: rgb(255, 23, 193); */
}




.nav-text-left a{
    color: rgb(40, 31, 31);
    display: block;
    padding: 15px 22px;
    margin-left: 30px;
    font-size: 1.45rem;
    text-decoration: none;
}

.nav-text-left a:hover{
    color: rgb(199, 60, 60);
    display: block;
    padding: 15px 22px;
    margin-left: 30px;
    font-size: 1.45rem;
    text-decoration: none;
}





/* sssssss */

hr.line{
    position: absolute;
    top: 42px;
    left: -3px;
    width: 40px;
    border: 2px solid rgb(240, 152, 69);
    opacity: 70%;
}

#goforhunt{
    margin-bottom: 20px;
    margin-left: -5px;
    font-size: 30px;
    color: rgb(255, 21, 0);
    font-family: 'Jokerman', 'Times New Roman', Times, serif;
    animation: blink 1.5s linear infinite;
}

@keyframes blink{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.7;
    }
    100%{
        opacity: 1;
    }
}


.right-menu{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}

#vegi{
    margin-top: -75px;
    margin-left: 4px;
}

.right-menu a h5{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(40, 31, 31);
    position: absolute;
    left: 109px;
    margin-top: -65px;
    transition: all 0.2s;
}

.right-menu a h5:hover{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(199, 60, 60);
    position: absolute;
    left: 109px;
    margin-top: -65px;
}












/* ddddddddd */
#img-dish-biryani{
    height: 88px;
    width: 91px;
    margin-left:  3px;
}
#img-dish-biryani:hover{
    height: 90px;
    width: 93px;
    margin-left:  1px;
}

#img-dish-chicken{
    height: 82px;
    width: 98px;
    margin-left: -2px;
    margin-top: -9px;
    margin-bottom: 11px;
}
/* #img-dish-chicken:hover{
    height: 104px;
    width: 142px;
    margin-left:  -22px;
    margin-top: -9px;
} */

#img-dish-paneer{
    height: 100px;
    width: 100px;
    margin-left: 0px;
    margin-top: -15px;
}
#img-dish-paneer:hover{
    height: 102px;
    width: 102px;
    margin-left: -2px;
    margin-top: -13px;
}

#img-dish-vegi{
    height: 114px;
    width: 181px;
    margin-left: -42px;
    margin-bottom: 8px;
    margin-top: -26px;
}
#img-dish-vegi:hover{
    height: 114px;
    width: 181px;
    margin-left: -42px;
    margin-bottom: 8px;
    margin-top: -26px;
}

#img-dish-chinese{
    height: 100px;
    width: 100px;
    margin-left:  3px;
    margin-top: -27px;
}
#img-dish-chinese:hover{
    height: 102px;
    width: 102px;
    margin-left:  1px;
    margin-top: -25px;
}

#img-dish-sindia{
    height: 97px;
    width: 103px;
    margin-left: 3px;
    margin-top: -4px;
}



.checkOut button a{
    color: aqua;
}


























.slideshowContainer {
    position: relative;
    overflow: hidden;
    margin: 50px 0 75px;
    width: 100%;
    height: 500px;
  }
  
  .imageSlides {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    z-index: -1;
  }
  
  /* add 'visible' class via Javascript */
  .visible {
    opacity: 1;
  }
  
  .slideshowArrow {
    font-size: 7em;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transition: opacity 0.2s ease-in-out;
  }
  
  .slideshowArrow:hover {
    opacity: 0.75;
  }
  
  #leftArrow {
    position: absolute;
    left: 4%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  #rightArrow {
    position: absolute;
    right: 4%;
    top: 50%;
    transform: translate(50%, -50%);
  }
  
  .slideshowCircles {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .circle {
    display: inline-block;
    margin-left: 3px;
    margin-right: 3px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: solid 2px rgba(255, 255, 255, 0.5);
    transition: 1s ease-in-out;
  }
  
  .dot {
    background-color: rgba(255, 255, 255, 0.7);
    border: solid 2px rgba(255, 255, 255, 0.5);
  }