@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Ubuntu:ital,wght@1,500&display=swap&family=Raleway:ital@1&display=swap');
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);


body{
    background-color: black;
}

#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap-reverse;
}

#home::before{
    content: "";
    position: absolute;
    background: url(../img/background.jpg) no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}

#home h1{
    color: white;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

#main-heading{
    font-size: 4rem;
    padding: 16px;
}

#paragraph{
    color: #efefef;
    text-align: center;
    font-family: 'Bree Serif', serif;
}

#hide{height: 59px;}

#btn{
    padding: 6px 20px;
    position: absolute;
    top: 589px;
    border: 3px solid rgb(255, 255, 255);
    background-color: rgb(178, 46, 46);
    color: rgb(0, 0, 0);
    width: 27rem;
    margin: -25px;
    font-size: 1.5rem;
    border-radius: 27px;
    cursor: pointer;
    transition: background-color 0.8s, width 0.5s;
    
}

#btn:hover{
    background-color: rgb(0, 0, 0);
    width: 25rem;
}

#home button a{
    color: rgb(255, 255, 255);
   
    padding: 3px 22px;
    border-radius: 27px;
    text-decoration: none;
 }
 
 #home button a:hover{
     color: rgb(255, 255, 255);
     
     padding: 3px 22px;
     border-radius: 27px;
     text-decoration: none;
  }



/* testimonials section */
.user-section{
    text-align: center;
    padding-bottom: 4rem;
}
.user-section .user-title{
    font-family: sans-serif;
    font-size: 3rem;
    color: white;
    margin: 1rem;
    margin-top: 2rem;
}
.snip1533 {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  color: #030303;
  display: inline-block;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  margin: 35px 10px 10px;
  max-width: 310px;
  min-width: 250px;
  position: relative;
  text-align: center;
  width: 100%;
  background-color: #ffffff;
  border-radius: 5px;
  border-top: 5px solid #d2652d;
}

.snip1533 *,
.snip1533 *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.snip1533 figcaption {
  padding: 13% 10% 12%;
}

.snip1533 figcaption:before {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  color: #d2652d;
  content: "\f10e";
  font-family: 'FontAwesome';
  font-size: 32px;
  font-style: normal;
  left: 50%;
  line-height: 60px;
  position: absolute;
  top: -30px;
  width: 60px;
}

.snip1533 h3 {
  color: #3c3c3c;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  margin: 10px 0 5px;
}

.snip1533 h4 {
  font-weight: 400;
  margin: 0;
  opacity: 0.5;
}

.snip1533 blockquote {
  font-style: italic;
  font-weight: 300;
  margin: 0 0 20px;
}





  /* services section---------utility*/

  .h-primary{
    font-family: 'Bree Serif', serif;
    font-size: 3.8rem;
    padding: 12px;
  }

  .h-secondary{
    font-family: 'Bree Serif', serif;
    font-size: 2.2rem;
    padding: 12px;
  }

  .center{
    text-align: center;
  }

  #our-service{
        /* position: relative; */
    /* top: 160px; */
    font-family: sans-serif;
    font-size: 3rem;
    color: white;
  }


  .services-container{
    height: 663px;
    
  }

  /* services section*/

  .content__shows {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem 0;
    gap: 2rem;
    justify-content: center;
    font-family: sans-serif;
  }
  .content__shows div {
    height: 300px;
    position: relative;
    width: 250px;
    border-radius: 4px;
    overflow: hidden;
  }
  @media (min-width: 1200px){
    .content__shows div {
        height: 350px;
        width: 300px;
      }
  }
  .content__shows div:hover img {
    transform: scale(1.15);
  }
  .content__shows div .title-box {
    content: "";
    height: 200px;
    position: absolute;
    transform: translatey(200px);
    transition: 0.3s ease;
    left: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), black);
    width: 100%;
    z-index: 1;
  }
  .content__shows div span{
    display: block;
  }
  .content__shows div img {
      object-fit: cover;
      height: 100%;
    width: 100%;
    transition: 0.3s ease;
}
.content__shows div .name {
    position: absolute;
    width: 100%;
    bottom: 10px;
    color: #d9d9d9;
    transform: translatey(200px);
    padding: 10px;
    z-index: 10;
    transition: .3s ease;
    cursor: default;
}
.content__shows div a{
  text-decoration: none;
  color: white;
  font-size: 17px;
}
.content__shows div:hover .name,
  .content__shows div:hover .title-box {
    transform: translatey(0);
  }

/* Styles for the popup */
.coupon-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    z-index: 999;
    animation: popup 0.7s;
}
@keyframes popup {
    0%{
      transform: scale(1);
    }
    50%{
      transform: scale(1.4);
    }
    60%{
      transform: scale(1.1);
    }
    70%{
      transform: scale(1.2);
    }
    80%{
      transform: scale(1);
    }
    90%{
      transform: scale(1.1);
    }
    100%{
      transform: scale(1);
    }
  }
.popup-content {
    gap: 1rem;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    display: grid;
    transform: translate(-50%, -50%);
    background-color: white;
    font-family: sans-serif;
    padding: 2rem;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.close-button {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background: #0000002e;
    position: absolute;
    top: 7px;
    right: 12px;
    cursor: pointer;
    font-size: 22px;
}


/* partners */
.partners::before{
    content: "";
    position: absolute;
    background: url('../img/background.jpg') no-repeat center center/cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 100%;
}

.partners{
    display: flex;
}

.order-form{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    color: #d3a2a2;
}

.order-form .box{
    display: flex;
    flex-direction: column;
    color: #d3a2a2;
    margin: 15px 0px;
    padding: 4px;
    border: 3px solid rgb(255, 0, 0);
    border-radius: 30px;


}

.order-form .box input{
    background: transparent;
    border: 0px;
    outline: 0px;
    color: #ffffff;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.order-form .txt{
    color: aqua;
    font-family: 'Bree Serif', serif;
    font-size: 1.6rem;
    margin: 23px 0px -17px 0px;
}

.order-form #quantity{
    color: #ffffff;
}

.order-form #total{
    font-size: 30px;
    position: relative;
    margin: 0px 0px;
    text-align:justify;
    left: 38px;;
}

.order-form #sub-right{
    position: relative;
    top: -0.2rem;
    right: -59px;
}

.order-form #clear-left{
    position: relative;
    top: -0.2rem;
    right: 59px;
}


.order-form .sub{
    color: #d3a2a2;
    border-radius: 20px;
    border: 3px solid white;
    text-decoration: none;
    padding: 11px;
    margin: 0px 49px;
    background:transparent;
    font-family: 'Bree Serif', serif;
    font-size: 32px;
}
 

.order-form .sub:hover{
     color: #ffffff;
     border-radius: 20px;
     text-decoration: none;
     background:transparent;;
     border-color: #d3a2a2;
}

.order-form .res{
    color: #d3a2a2;
    border-radius: 20px;
    border: 3px solid white;
    text-decoration: none;
    padding: 11px;
    margin: 0px 49px;
    background:transparent;;
    font-family: 'Bree Serif', serif;
    font-size: 32px;
}
 

.order-form .res:hover{
     color: #ffffff;
     border-radius: 20px;
     text-decoration: none;
     background:transparent;;
     border-color: #d3a2a2;
}

input[type]::-webkit-input-placeholder{
    color: #ff3485;
}


.last{
    font-family: 'Bree Serif', serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    color: #ffffff;
    background: rgb(0, 0, 0);
    opacity: 0.5;
    margin: 47px 0px 0px 0px;
    padding: 5px;
}



