body { 
	padding: 2em 4em;
	font-family: Roboto, sans-serif;
  }
  


  .button {
	margin-left: 3%;
    width: 90%;
    font-weight: bold;
    padding: 1em 2em;
    display: flex;
    font-size: 18px;
    background: #765869;
    border-radius: 3em;
    color: white;
    cursor: pointer;
    margin-top: 1%;
    justify-content: space-between;
    align-content: center;
    align-items: center;
  }
  
  details > div {
	border: 2px solid rgb(0, 0, 0);
    position: relative;
    left: 5%;
    width: 80%;
	padding: 0px 5%;
	margin-bottom: 1%;
	
  } 
  
  .txtt{
	margin-bottom: 5%;
	width: 100%;
	border: 2px solid rgb(255, 0, 0);
	text-align: center;
	background-color: rgb(0, 0, 0);
	border-radius: 25px;
	
  }
 

  #track-order{
	text-align: center;
    text-decoration: none;
    display: block;
    color: rgb(255, 126, 13);
    border: 2px solid black;
    border-radius: 25px;
	transition: .3s;
    font-size: 16px;
    background-color: black;
    padding: 10px;
  }
  #track-order:hover{
	text-decoration: none;
	color: rgb(255, 126, 13);
	border: 2px solid black;
	border-radius: 25px;
	background-color: rgb(255, 255, 255);
  }

  h1 {
	display: inline-block;
	font-size: 1.7rem;
	background-image: linear-gradient(to right, #ed4545, #ffffff);
	-webkit-background-clip: text;
	color: transparent;
	
  }

