body{
    background-color: rgb(242, 242, 242);
    font-family: system-ui;
    overflow-x: hidden;
}
.container{
    height: 200vh;
    width: 1000px;
    margin: auto;
    transition: 0.5s;
}
header{
    display: grid;
    grid-template-columns: 1fr 50px;
  
}



header .shopping{
    position: relative;
    text-align: right;
    left: 450%;
    
  
    
}
header .shopping img{
    cursor: pointer;
    width: 40px;
    filter: invert(1);
}
header .shopping span{
    background: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    top: -5px;
    left: 80%;
    padding: 3px 10px;
}
.list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 50px;
}
.list .item{
    text-align: center;
    height: 30vh;
    background-color: #DCE0E1;
    padding: 20px;
    box-shadow: 0 50px 50px #757676;
    letter-spacing: 1px;
    transition: all 0.1s;
}
.list .item:hover{
    text-align: center;
    height: 30vh;
    background-color: #DCE0E1;
    padding: 16px;
    box-shadow: 0 50px 50px #757676;
    letter-spacing: 1px;
    cursor: pointer;
}
.list .item img{
    width: 90%;
    height: 20vh;
}
.list .item .title{
    font-weight: 600;
}
.list .item .price{
    margin: 10px;
}
.list .item button{
    background-color: #1C1F25;
    color: #fff;
    width: 100%;
    padding: 10px;
}
.list .item button:hover{
    background-color: #813b3b;
    color: #fff;
    width: 100%;
    padding: 10px;
    cursor: pointer;
}
.card{
    height: 735px;
    overflow: hidden;
    overflow-y: scroll;
    position: fixed;
    top:0;
    left: 100%;
    width: 500px;
    background-color: #453E3B;
   
    transition: 0.5s;
}
.active .card{
    left: calc(100% - 500px);
}
.active .container{
   transform: translateX(-200px);
}
.card h1{
    color: #E8BC0E;
    font-weight: 100;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 86px;
    padding: 0 20px;
    height: 80px;
    display: flex;
    visibility: hidden;
    align-items: center;
}


.card h3{
    color: #E8BC0E;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    margin-top: -5px;
    padding: 4px 0px;
    top: 90px;
    border-bottom: 1px solid #e2e6e7;
    display: block;
    text-align: center;
    
}

.card h4{
   
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    color: #ffffff;
    z-index: 1;
    top: 135px;
    display: flex;
    left: 25px;
}



.card .checkOut{
    position: absolute;
    left: 0px;
    bottom: 565px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}
.card .checkOut div{
    background-color: black;
    width: 100%;
    height: 55px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    
    cursor: pointer;
    
}


.card .checkOut div:nth-child(2){
    background-color: #1C1F25;
    color: #fff;
    border-left: 2px solid white;
}

.card .checkOut #tbox:hover{
    color: #E8BC0E;
    background-color: black;
}

.card .checkOut #lbox:hover{
    background-color: #E8BC0E;
    color: black;
}


.listCard li{
    display: grid;
    grid-template-columns: 100px repeat(3, 1fr);
    color: #fff;
    row-gap: 10px;
}
.listCard li div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.listCard li img{
    width: 90%;
}
.listCard li button{
    background-color: #453e3b;
    border: 2px solid red;
    padding: 1px 14px;
    font-size: 20px;
    color: white;
    border-radius: 11px;
}
.listCard .count{
    margin: 0 10px;
}
